html, body {
	font-size:2vw;
}

body {
	padding:0.5rem;
}

input, textarea {
	font-family:monospace;
	
	width:35em;
}

#state {
	background-color:#ccc;
	padding:0.5rem;
}
#state >h2 {
	padding:0.25rem 0;
}
#state >pre {
	font-size:0.75rem;
}

main div {
	margin:0.5rem 0;
}

main label {
	display:inline-block;
	width:10rem;
}

main button {
	padding:0.5rem;
}

